@model LibraryManagement.Models.Category

@{
    ViewData["Title"] = "حذف القسم";
}

<div class="auth-card">
    <h3 class="text-center text-danger mb-4">تأكيد حذف القسم</h3>
    <p class="text-center">هل أنت متأكد أنك تريد حذف القسم التالي؟</p>

    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete" method="post" class="mt-4">
        <input type="hidden" asp-for="CategoryId" />
        <button type="submit" class="btn btn-danger">تأكيد الحذف</button>
        <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
    </form>
</div>